/* RESET */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END OF RESET */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
       -mox-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: "DejaVu Sans", sans-serif;
    font-size: 14px;
    /*background: linear-gradient(to right bottom, #BBB, #DDD);*/
    background: radial-gradient(#DDD, #BBB);
}

h1 {
    font-size: 30px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, .3);
    letter-spacing: 2px
}

h2 {
    font-size: 24px;
    font-variant: small-caps;
    border-left: 2px solid grey;
    padding: 5px 0 5px 10px;
    letter-spacing: 1px
}

aside h2 {
    border-left: none;
    border-right: 2px solid grey;
}

h1, h2 {
    font-weight: bold;
    color: crimson;
}

strong {
    font-weight: bold;
}

cite, em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 150%;
}

ul {
    list-style-type: square;
    padding-left: 30px;
}

header {
}

p {
    text-align: justify;
    text-indent: 15px;
}

code {
    font-family: "DejaVu Sans Mono", sans-serif;
    text-indent: 0;
}

.codeblock {
    display: block;
    text-align: left;
    padding-left: 20px;
    margin-left: 20px;
    padding-top: 5px;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-left: 2px solid black;
}

.code-inline {
}


.content {
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
}

.button {
    padding: 10px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    background: dimgray;
    margin-left: 5px;
    display: inline-block;
}

.buttonbox {
    float: right;
    margin-right: 5px;
}

aside .buttonbox {
    display: block;
    float: none;
}

.logo {
    display: inline-block;
    border-bottom: 2px solid grey;
    padding: 10px;
    margin: 10px 0 50px 10%;

}

article {
    border-right: 2px solid grey;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .3);
}

aside {
    position: relative;
}

aside::after {
    content: "";
    background: url(image.jpg);
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background: url("../ressources/img/arch.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
}

.col-1-2,
.col-2-2 {
    display: inline-block;
    margin: 10px 1.5%;
    margin: 0;
    padding: 10px 3%;
    vertical-align: top;
}

.col-1-2 {
    width: 50%;
    margin-left: 10%;
}

.col-2-2 {
    width: 30%;
    margin-right: 10%;
}

.floating {
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

footer {
    border-top: 2px solid grey;
    border-top-style: dotted;
    padding-top: 30px;
    margin-top: 10px;
    font-weight: lighter;
}

footer small {
    margin: auto 10px auto 10px;
    float: left;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}
